.logo-font {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-size: 75px;
}

.content-text {
  font-family: "Vibur", cursive;
  font-size: 40px;
}

.button-text {
  font-family: "Vibur", cursive;
  font-size: 100px;
}

.plain-text-25 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

body {
  background-image: url("../img/Jeff.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.filter {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  z-index: -1;
}

.text-orange {
  color: #f2994a;
}

.btn-orange {
  color: #fff;
  background-color: #ff8315;
  border-color: #ff8315;
  margin-bottom: 3rem;
}

.btn-orange:hover {
  color: #fff;
  background-color: #c25a00;
  border-color: #c25a00;
}

a:hover {
  color: transparent;
}

.text-link {
  color: #f2994a;
}

.text-link:hover {
  color: #c25a00;
  text-decoration: transparent;
}

.social-drop {
  border-radius: 0.25rem 0 0 0.25rem !important;
  border: 0px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: white;
}
.social-input {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.input-width {
  width: 100%;
}

.price-left {
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.price-right {
  border-radius: 0 0.25rem 0.25rem 0 !important;
  border: 0px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: white;
}
